@model Ayurveda.Models.Users
@{
    ViewBag.Title = "ForgetPassword";
}

@Html.Partial("_LoginLayout")  

<div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-1" style="text-align: center; font-family: Algerian">
                <h3>Login Here</h3>
                <noscript>
                    <p style="font-family: 'Times New Roman'">
                        Please Enable Java Script for better Useability of Application:-<br />
                        @TempData["Msg"]
                    </p>
                </noscript>
            </div>
        </div>
    </div>


@using(Html.BeginForm())
{
<div class="container">
    <div class="row">
        <div class="col-md-12">
            @if(TempData.Peek("Page")=="userid")
            {
                 <table class="table table-bordered">
                <tr>
                    <th>User Id</th>
                    <th>@Html.TextBoxFor(x => x.UserID, new {@class="form-control",@tabindex="1",@onkeypress="return onlyAlphaNum(event,this);"})</th>
                </tr>
                <tr>
                    <th> Captcha </th>
                    <td>
                        @Html.TextBoxFor(x => x.CaptchaCode, new {@class="form-control",@tabindex="2",@maxlength="4"})
                        <img src='@Url.Action("generateCaptcha", "Account")' id="imgCaptcha" width="40%" height="40" style="float:left; border:1px solid #ccc;" />
                        <i class="fa fa-2x fa-refresh" id="captchaRefresh" title="Reload Captcha" style="color: #085aae; padding-top: 3px; margin-left: 10px"></i>
                     </td>
                </tr>
            </table>
            }
            @if (TempData.Peek("Page") == "otp")
            {
               <table class="table table-bordered">
                <tr>
                    <th>OTP</th>
                    <th>@Html.TextBoxFor(x => x.OTP, new {@class="form-control",@tabindex="1",@onkeypress="return onlyAlphaNum(event,this);"})</th>
                </tr>
              </table>
            }
            @if (TempData.Peek("Page") == "ForgetPassword")
            {
              <table class="table table-bordered">
                <tr>
                    <th>OTP</th>
                    <th>@Html.TextBoxFor(x => x.DisplayPassword, new {@class="form-control",@tabindex="3"})</th>
                </tr>
              </table>  
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <input type="submit" value="Submit" class="btn btn-success" />
            <input type="reset" value="Reset" class="btn btn-danger" />
        </div>
    </div>
</div>
}

<script>
    $(document).ready(function () {
        if ('@TempData["Msg"]' != "") {
            swal('@TempData["Msg"]', '@TempData["Desc"]', '@TempData["Status"]');
        }
    });
</script>