@model Ayurveda.Models.Yoga
@{
    ViewBag.Title = "Yoga List";
}
@{
    if (Session["UserId"]==null)
    {
@Html.Partial("_LoginLayout")        
    }
    else
    {
    @Html.Partial("_UserLayout")        
    }
}
  <br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
             @foreach(var p in Model.YogaList)
                               {
                                   <div class="col-md-3">
                                       <img src="data:/image/png;base64,@Convert.ToBase64String(p.ImageData,0,p.ImageData.Length)"width="200"height="200"class="img img-thumbnail img-responseve">
                                       <br />
                                       <p>@p.YogaName @p.Disease 
                                   </div>
                 <div class="col-md-9">@p.YogaDescription</div>
                               }
        </div>
    </div>
</div>